// CUSTOM COLUMN GAPS
$column-gaps: (
    "none":                     $column-gap-none,
    "smallest":                 $column-gap-smallest,
    "smaller":                  $column-gap-smaller,
    "small":                    $column-gap-small,
    "normal":                   $column-gap-normal,
    "medium":                   $column-gap-medium,
    "large":                    $column-gap-large,
    "larger":                   $column-gap-larger,
    "largest":                  $column-gap-largest,
) !default;

$list-gutters: (
    "none":             0,
    "smallest":         $list-gutter-smallest,
    "smaller":          $list-gutter-smaller,
    "small":            $list-gutter-small,
    "normal":           $list-gutter-normal,
    "medium":           $list-gutter-medium,
    "large":            $list-gutter-large,
    "larger":           $list-gutter-larger,
    "largest":          $list-gutter-largest,
) !default;

$line-heights: (
    "none":             0,
    "small":            $line-height-small,
    "normal":           $line-height-normal,
    "medium":           $line-height-medium,
    "large":            $line-height-large,
    "larger":           $line-height-larger,
) !default;

// OPACITIES
$opacities: (
    "0":                0,
    "10":               0.1,
    "25":               0.25,
    "33":               0.33,
    "50":               0.5,
    "66":               0.66,
    "75":               0.75,
    "85":               0.85,
    "100":              1
) !default;

// INDEXES
$indexes: (
    10, 20, 30, 40, 50, 60, 70, 80, 90, 100
) !default;

// ORDERS
$orders: (
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
) !default;

$visual-sizes: (
    "none":             0,
    "smaller":          $visual-height-smaller,
    "small":            $visual-height-small,
    "normal":           $visual-height-normal,
    "medium":           $visual-height-medium,
    "large":            $visual-height-large,
    "larger":           $visual-height-larger,
    "full-screen":      100vh,
) !default;

$spacing-values: (
    "0":                $spacing-0,             // 0px
    "1":                $spacing-1,             // 2px
    "2":                $spacing-2,             // 4px
    "3":                $spacing-3,             // 8px
    "4":                $spacing-4,             // 12px
    "5":                $spacing-5,             // 16px
    "6":                $spacing-6,             // 20px
    "7":                $spacing-7,             // 24px
    "8":                $spacing-8,             // 32px
    "9":                $spacing-9,             // 40px
    "10":               $spacing-10,            // 48px
    "11":               $spacing-11,            // 56px
    "12":               $spacing-12,            // 64px
    "13":               $spacing-13,            // 72px
    "14":               $spacing-14,            // 80px
    "15":               $spacing-15,            // 96px
    "16":               $spacing-16,            // 120px
    "17":               $spacing-17,            // 128px
    "18":               $spacing-18,            // 160px
    "auto":             $spacing-auto,          // auto
) !default;

// Colors
$custom-colors: (
    "transparent":      (transparent, $text),
) !default;

$colors: map-merge($colors, $custom-colors) !default;

$button-sizes: (
    "small":            ($button-font-size-small, $button-padding-y-small, $button-padding-x-small),
    "normal":           ($button-font-size-normal, $button-padding-y-normal, $button-padding-x-normal),
    "medium":           ($button-font-size-medium, $button-padding-y-medium, $button-padding-x-medium),
    "large":            ($button-font-size-large, $button-padding-y-large, $button-padding-x-large),
)
