//=======================================================
//  BUTTON SIZES
//=======================================================
$button-font-size-small:                   1rem !default;           // 16px
$button-font-size-normal:                  1.125rem !default;       // 18px
$button-font-size-medium:                  1.25rem !default;        // 20px

$button-height-smallest:                   $button-font-size-small + 0.5rem !default;       // 22px
$button-height-smaller:                    $button-font-size-small + 1rem !default;         // 32px
$button-height-small:                      $button-font-size-normal + 1.5rem !default;      // 42px
$button-height-normal:                     $button-font-size-normal + 2rem !default;        // 50px
$button-height-medium:                     $button-font-size-normal + 2.5rem !default;      // 58px
$button-height-large:                      $button-font-size-medium + 2.75rem  !default;    // 64px

//=======================================================
//  CONTENT TITLE SIZES
//=======================================================
$content-h1-size:                   $size-2 !default;
$content-h2-size:                   $size-3 !default;
$content-h3-size:                   $size-4 !default;
$content-h4-size:                   $size-5 !default;
$content-h5-size:                   $size-6 !default;
$content-h6-size:                   $size-7 !default;

//=======================================================
//  COLUMN GAPS
//=======================================================
$column-gap-none:                   0 !default;
$column-gap-smallest:               0.25rem !default;
$column-gap-smaller:                0.5rem !default;
$column-gap-small:                  0.75rem !default;
$column-gap-normal:                 1rem !default;
$column-gap-medium:                 1.75rem !default;
$column-gap-large:                  3rem !default;
$column-gap-larger:                 3.75rem !default;
$column-gap-largest:                5rem !default;

//=======================================================
//  LIST GUTTERS
//=======================================================
$list-gutter-smallest:              0.25rem !default;
$list-gutter-smaller:               0.5rem !default;
$list-gutter-small:                 0.75rem !default;
$list-gutter-normal:                1rem !default;
$list-gutter-normal:                1.5rem !default;
$list-gutter-medium:                2rem !default;
$list-gutter-large:                 3rem !default;
$list-gutter-larger:                3.5rem !default;

//=======================================================
//  VISUAL HEIGHTS
//=======================================================
$visual-height-smaller:             200px !default;
$visual-height-small:               300px !default;
$visual-height-normal:              400px !default;
$visual-height-medium:              500px !default;
$visual-height-large:               650px !default;
$visual-height-larger:              800px !default;

$overlay:                    rgba($black, 0.4);

// TRANSITIONS
$transition-time:                   0.25s;
$transition-animation:              ease-out;
$transition-1:                      all $transition-time $transition-animation;

// BORDER
$border-size-1:                     1px;
$border-1:                          $border-size-1 solid $border;

// Offcanvas
$offcanvas-width:                   350px !default;
$offcanvas-brand-height:            35px !default;

$scroll-margin-top:                 120px !default;
